@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color: white;
    display: flex;
}
.left{
    width: 25vw;
    margin: 5px;
}

.right{
    width: 75vw;
    height: 40vw;
    position: relative;
    margin: 5px;
    overflow-y: scroll;
    max-height: 96vh;
}

.btn{
    padding: 8px 22px 8px 14px;
    font-size: 20px;
    border: 1px solid black;
    border: none;
    border-radius: 20px;
    margin: 10px;
}

.btn:hover{
    color: #FFFFFF;
    background-color: transparent;
}

.specialbtn{
    padding: 8px 22px 8px 14px;
    font-size: 20px;
    border: 1px solid black;
    border: none;
    background-color: transparent;
    color: gray;
    border-radius: 20px;
    margin: 10px;
}

.specialbtn:hover{
    color: #FFFFFF;
    background-color: transparent;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222; /* Dark color for the track */
}

.startbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    position: absolute;
    top: 95%;
    width: 71vw;
}

.startsong img{
    width: 25px;
    height: 25px;
}

.footnav{
    filter: invert(1);
}
